<div class="topnav">
    <a href="login">Login</a>
    <a href= "contact">Contact Us</a>
    <a href="consultation">Consultation</a>
  
    <a href="programs">Programs</a>
    <a href="about">About</a>
    <a href="Naari"><img src="img/logo.png" class="brand-logo" alt="logo"> </a>
</div>
