<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style=background-color:#E1C9C0;>
   
    {{>nav}}
    <div class="mh">
        <div class="menh">
            <img src="img/br1.png" style="width: 100%; ">
        </div>
        <p class="heading">BREAST HEALTH</p>
        <p class="sub-heading" style="font-size: 40px;">“The only person who can save you is you”</p>
        <p class="content">
            Breast health begins with a sense of what's normal for your breasts (breast awareness). To promote breast health, consider doing regular breast self-exams. With practice, you'll discover how your breasts vary in sensitivity and texture at different times during your menstrual cycle.
        </p>
        <p class="content" style="top: 83%;">
            For many women, breast health includes concerns about breast lumps, breast pain or nipple discharge. Know what's normal — and when to consult your doctor. It's also important to understand common screening and diagnostic tests for breast health, such as clinical breast exams, mammograms and breast ultrasounds.mong younger women, common breast problems include fibrocystic breast disease, a noncancerous condition characterized by breast pain, cysts, and lumps); and fibroadenomas, small bumps of fibrous and glandular tissue that can be painful.        
        </p>
        <p class="content" style="top: 119%;">
            The reality is that every woman is at risk for breast cancer, and this risk tends to increase over time. It’s important to understand and regularly update your health information related to breast cancer risk throughout your life with your doctor.
        </p>
    </div>
</body>
</html>