<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style=background-color:#E1C9C0;>
   
   {{>nav}}
    <div class="mh">
        <div class="menh">
            <img src="img/c.png" style="width: 100%; ">
        </div>
        <p class="heading">CONTRACEPTION</p>
        <p class="sub-heading" style="font-size: 40px;">"The only remedy against hunger in the world is a good birth control"</p>
        <p class="content">
            Contraception is a way to prevent pregnancy. There are many different types of contraception and some are more effective than others.Although different contraception methods work in different ways, contraception generally prevents sperm and egg from meeting which is how a pregnancy starts.Some forms of contraception are more effective than others. Some, particularly Long Acting Reversible Contraception (LARCs) are more than 99% effective at preventing pregnancy.
        </p>
        <p class="content" style="top: 90%;">
            Your doctor or nurse can talk with you about making sure your contraception is as effective as possible – for instance, taking a hormonal contraceptive pill every day, without a monthly break.Different methods suit different people. Your choice of contraception may change depending on your age, your health and the status of your relationship.
        </p>
    </div>
</body>
</html>