<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style=background-color:#E1C9C0;>
   
   {{>nav}}
    <div class="mh">
        <div class="menh">
            <img src="img/fer.png" style="width: 100%; ">
        </div>
        <p class="heading">FERTILITY</p>
        <p class="sub-heading">“Even miracles take a little time!”</p>
        <p class="content">
            Fertility is the natural capacity to conceive a child. Fertility does not come easily to everyone. About 11% of couples will face infertility—the inability to conceive naturally after one year of unprotected sexual intercourse. <br>Fertility is not only a female health issue. People of all genders can experience infertility, and everyone can take steps to improve their fertility. It’s common for a couple to only discover they have a fertility issue after they have tried to get pregnant unsuccessfully for a year. Many causes of infertility don’t have obvious symptoms. However, the following signs might indicate a fertility problem and warrant a call to a healthcare provider:
            
            You are age 35 or older, and you've been trying get pregnant for six months.
            You're younger than 35 and have had unprotected sexual intercourse for one year without getting pregnant.
            You have had two or more successive pregnancy losses.
            You have any risk factors for infertility. etc.    
        </p>
       
    </div>
</body>
</html>