<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style=background-color:#E1C9C0;>
   
   {{>nav}}
    <div class="mh">
        <div class="menh">
            <img src="img/fitn.png" style="width: 100%; ">
        </div>
        <p class="heading">FITNESS</p>
        <p class="sub-heading" style="font-size: 40px;">“Every workout is a progress”</p>
        <p class="content">
            The modern definition of fitness describes either a person or machine's ability to perform a specific function or a holistic definition of human adaptability to cope with various situations. This has led to an interrelation of human fitness and physical attractiveness that has mobilized global fitness and fitness equipment industries. Regarding specific function, fitness is attributed to persons who possess significant aerobic or anaerobic ability (i.e., endurance or strength). A well-rounded fitness program improves a person in all aspects of fitness compared to practicing only one, such as only cardio/respiratory or only weight training.
        </p>
        <p class="content" style="top: 95%;">
            A comprehensive fitness program tailored to an individual typically focuses on one or more specific skills, and on age or health-related needs such as bone health. Many sources also cite mental, social and emotional health as an important part of overall fitness. This is often presented in textbooks as a triangle made up of three points, which represent physical, emotional, and mental fitness. Physical fitness has been shown to have benefits in preventing ill health and assisting recovery from injury or illness.         </p>
    </div>
</body>
</html>