<!--MENSTRUAL HEALTH--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style=background-color:#E1C9C0;>
   
    {{>nav}}
    <div class="mh">
        <div class="menh">
            <img src="img/meh.png" style="width: 100vw; ">
        </div>
        <p class="heading"> MENSTRUAL HEALTH</p>
        <p class="sub-heading" >"Periods are not a taboo; they are normal"</p>
        <p class="content">
            Menstruation is a natural fact of life and a monthly occurrence for the 1.8 billion girls, women, transgender men and non-binary persons of reproductive age.A period happens because of changes in hormones in the body. Hormones are chemical messengers. The ovaries release the female hormones estrogen and progesterone.
        </p>
        <p class="content" style="top: 85%;">
            These hormones cause the lining of the uterus (or womb) to build up. The built-up lining is ready for a fertilized egg to attach to and start developing. If there is no fertilized egg, the lining breaks down and bleeds. Then the same process happens all over again.Most girls get their first period when they're around 12. But getting it any time between age 10 and 15 is OK. Every girl's body has its own schedule.
        </p>
    </div>
</body>
</html>