<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style="background-color:#FFEEE7">
    <div class="background-image">
        <img src="img/front-page.png">
    </div>
    {{>nav}}

  

    <div class="search-bar">
        <input type="text" placeholder="Search..">
    </div>

    <div class="icons">
      <div class="icon-box">
        <a href="pcos">
            <img src="img/pcos.png"alt="">
            <p> PCOS</p>
          </a>
        </div>
        <div class="icon-box">
          <a href="mh">
            <img src="img/mh.png"alt="">
            <p>Menstrual Health</p> 
          </a>
        </div>
        <div class="icon-box">
          <a href="contra">
          <img src="img/contra.png" alt="">
            <p>Contraception</p>
          </a>
        </div>
        <div class="icon-box">
          <a href="pregnancy" >
            <img src="img/preg.png" alt="">
            <p>Pregnancy</p>
          </a>
        </div>
    </div>
    <div class="icons2">
      <div class="icon-box">
        <a href="fertility">
          <img src="img/fert.png" alt="">
            <p>Fertility</p>
          </a>
        </div>
        <div class="icon-box">
          <a href="diet">
           <img src="img/diet.png"alt="">
            <p>Diet</p>
          </a>
        </div>
        <div class="icon-box">
          <a href="fitness">
            <img src="img/fit.png" alt="">
            <p>Fitness</p>
          </a>
        </div>
        <div class="icon-box">
          <a href="breast">
            <img src="img/breast.png"alt="">
            <p>Breast Health</p>
          </a>
        </div>
    </div>
    
</body>

</html>