<!--pcos-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Baloo Tammudu 2' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naari</title>
    <link rel="stylesheet" href="css/Naari.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--only for icons-->
</head>

<body style=background-color:#E1C9C0;>
   
    {{>nav}}
    <div class="mh">
        <div class="menh">
            <img src="img/pco1.png" style="width: 100%; ">
        </div>
        <p class="heading"> POLYCYSTIC OVARY SYNDROME</p>
        <p class="sub-heading">"PCOS is not a disease."</p>
        <p class="content">
            Polycystic ovary syndrome (PCOS) is a problem with hormones that happens during the reproductive years. If you have PCOS, you may not have periods very often. Or you may have periods that last many days. You may also have too much of a hormone called androgen in your body.
        </p>
        <p class="content" style="top: 83%;">
            With PCOS, many small sacs of fluid develop along the outer edge of the ovary. These are called cysts. The small fluid-filled cysts contain immature eggs. These are called follicles. The follicles fail to regularly release eggs.
        </p>
    </div>
</body>
</html>